.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 400px;
  background-color: #fff;
  box-shadow: 16;
  padding: 24px;
  border-radius: 12px
}